<!DOCTYPE HTML>
<html>
	<head>
		<title>youtube-dl Web v0.1</title>

		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<link href="https://www.w3schools.com/w3css/4/w3.css" rel="stylesheet">
		<link href="/static/css/fonts.css" rel="stylesheet">

		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	</head>
	<body>
		<div class="w3-container w3-teal">
			<h3 style="font-family: 'Montserrat', sans-serif;">youtube-dl</h3>
		</div>
		<div style="font-family: 'Open Sans', sans-serif;padding:16px;text-align:center;">
			<!--<h5 style="font-family: 'Montserrat', sans-serif;">D</h5>
			<ul id="queue">
				{% for item in links_dwnl %}
			        <li><a href="{{ item }}">{{ item }}</a></li>
			    {% endfor %}
			    <li>
			    	<form action="/new" method="POST">
			    		<input id="new_url" name="new_url" class="w3-input" style="width:25%;">
			    	</form>
			    </li>
			</ul>-->

			<div class="w3-card-4" style="width:25%;display:inline-block;">
				<header class="w3-container w3-blue">
					<h3 style="font-family: 'Montserrat', sans-serif;">Download .MP4</h3>
				</header>
				<div class="w3-container" style="font-family: 'Open Sans', sans-serif;">
					<p>
						<form action="/new" method="POST">
							<input id="new_url" name="new_url" class="w3-input" type="text">
							<input id="type" name="type" class="w3-input" type="hidden" value="mp4">
						</form>
					</p>
				</div>
			</div>

			<div class="w3-card-4" style="width:25%;display:inline-block;">
				<header class="w3-container w3-blue">
					<h3 style="font-family: 'Montserrat', sans-serif;">Download .MP3</h3>
				</header>
				<div class="w3-container" style="font-family: 'Open Sans', sans-serif;">
					<p>
						<form action="/new" method="POST">
							<input id="new_url" name="new_url" class="w3-input" type="text">
							<input id="type" name="type" class="w3-input" type="hidden" value="mp3">
						</form>
					</p>
				</div>
			</div>
		</div>

		<script>
			$(document).ready(function() {
			  $(".w3-input").keydown(function(e) {
			    if (e.keyCode == 13) {
			      this.form.submit();
			      return false;
			    }
			  });
			});
		</script>
	</body>
</html>
